<div id="editor1" contenteditable="true">Chat Now</div>
<fieldset>
  <button
    class="fontStyle"
    onclick="document.execCommand('italic',false,null);"
    title="Italicize Highlighted Text"
  >
    <i>I</i>
  </button>
  <button
    class="fontStyle"
    onclick="document.execCommand( 'bold',false,null);"
    title="Bold Highlighted Text"
  >
    <b>B</b>
  </button>
  <button
    class="fontStyle"
    onclick="document.execCommand( 'underline',false,null);"
  >
    <u>U</u>
  </button>
</fieldset>
