<div class="form-group">
  <label for="usr">Chat Here:</label>
  <input
    class="form-control chager"
    type="text"
    contenteditable="true"
    [(ngModel)]="chat"
    [mention]="item"
    cols="0"
    (keyup)="onKey($event)"
    list="browsers"
    required
  />
  <br />
  <input type="button" class="boldText" value="Bold" />
  <input type="button" class="italicText" value="Italic" />
  <input type="button" class="underlineText" value="Underline" />

  <!-- <select class="form-control" id="browsers" *ngIf="isVisible">
    <option
      value="Chrome"
      *ngFor="let people of items"
      name="values"
      [(ngModel)]="values"
    >
      {{ people.name }}
    </option>
  </select> -->

  <button
    class="btn btn-success mt-2"
    style="margin-left: 10px; margin-top: 10px"
    (click)="onChatAdded()"
  >
    Send
  </button>
</div>
<div>
  <div *ngFor="let chat of chats">
    <h1>- {{ chat }}</h1>
  </div>
</div>
