<div class="form-group">
  <label for="usr">Chat Here: (use '@' to tag people)</label>

  <div class="row">
    <div class="col-md-12">
      <input
        class="form-control chager"
        type="text"
        contenteditable="true"
        [(ngModel)]="chat"
        [mention]="item"
        cols="0"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button
        class="btn btn-success mt-2"
        style="margin-top: 10px"
        (click)="onChatAdded()"
      >
        Send
      </button>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label style="margin-right: 10px"
          ><input type="checkbox" value="bold" class="bold" />Bold</label
        >
        <label style="margin-right: 10px"
          ><input
            type="checkbox"
            value="italics"
            class="italic"
          />Italics</label
        >
        <label style="margin-right: 10px"
          ><input
            type="checkbox"
            value="underline"
            class="underline"
          />Underline</label
        >
      </div>
    </div>
  </div>
</div>
<div>
  <div *ngFor="let chat of chats">
    <h1>- {{ chat }}</h1>
  </div>
</div>
